<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <h1>Új felhasznalo</h1>
    <form method="post">
      <label>
        E-mail:<br>
        <input type="email" name="email">
      </label>
      <label>
        Jelszó:<br>
        <input type="password" name="password">
      </label>
      <label>
        Jelszó még egyszer:<br>
        <input type="password" name="password_again">
      </label>
      <label>
        Életkor:<br>
        <input type="number" name="age">
      </label>
<% if(errors){
  errors.forEach((msg) => { %>
   <p class="errorMessage"><%= msg %></p> 
  <%});
} %>
      <input type="submit" value="Regisztrácio">
  </form>
</body>
</html>
